@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap');
* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0
}

body {
    font-family: 'Ubuntu', sans-serif;
}


h3,
h4,
h5 {
    margin-bottom: 20px;
    padding-top: 10px;
}

section {
    padding-top: 15px;
    padding-bottom: 15px;
}

h2 {
    font-size: 2.5rem;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

h3 {
    font-size: 1.5rem;
}
.company {
    font-style: italic;
}
.exp-duration {
    font-style: italic;
}



/*---------
 Hero Intro
---------*/

section#heroIntro {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("images/pexels-photo-209692.jpeg") rgb(5, 73, 98);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: soft-light;
    position: relative;
}

.jumbotron {
    display: block;
    background: none;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.jumbotron h1 {
    font-weight: 700;
}

.jumbotron hr {
    width: 36vw;
    border: 0;
    height: 1px;
    background: rgb(5, 73, 98);
    background-image: linear-gradient(to right, rgb(81, 100, 107), #ccc, rgb(81, 100, 107));
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

button.begin {
    position: absolute;
    bottom: 8vh;
    text-align: center;
    font-size: 2rem!important;
    color: rgb(5, 73, 98);
    width: 70px;
    height: 70px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

button.begin:hover {
    color: rgb(12, 147, 196);
}


/*---------
 Navigation Bar
---------*/

nav {
    font-size: 1.2em;
}

a.nav-link {
    padding-left: 15px!important;
    padding-right: 15px!important;
    color: white!important;
}

a.nav-link:hover {
    color: rgb(12, 147, 196)!important;
}

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mx-0 {
    background-color: rgb(30, 33, 34)!important;
}


/*---------
 Navigation Bar / Toggler effect
---------*/

.navbar-toggler {
    border: none;
    background: transparent !important;
}

.navbar-toggler:focus {
    outline: none;
    background: transparent !important;
}

.navbar-toggler .icon-bar {
    background-color: #fff;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
}

.icon-bar:nth-child(2) {
    width: 16px;
    transition: ease all .2s;
}

.navbar-toggler:hover>.icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
}

.navbar-toggler:active>.icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
    transition: ease all .2s;
}

button.navbar-toggler.collapsed {
    padding: 12px 0 12px 0;
}

button.navbar-toggler {
    padding: 12px 0 12px 0;
}


/*---------
 About me
---------*/

#about {
    background: url(images/cvbackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
}

#about h1 {
    color: rgb(5, 73, 98);
    font-weight: 700;
    margin-bottom: 8vh;
}

img#myphoto {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-bottom: 8vh;
}



/*---------
Work experience
---------*/

#work-exp {
    background-color: #DBE0E3;
}

#work-exp h2 {
    color: rgb(5, 73, 98);
}


/*---------
Education
---------*/
#edu h2 {
    color: rgb(5, 73, 98);
}

#edu {
    background-color: #DBE0E3;
}


/*---------
Awards
---------*/
#awards h2 {
    color: rgb(5, 73, 98);
}

#awards {
    background-color: #DBE0E3;
}

/*---------
Skills
---------*/

#skills h2 {
    color: rgb(5, 73, 98);
}


#languages h2 {
    color: rgb(5, 73, 98);
}

#skills {
    background: url(images/cvbackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.meter {
    height: 28px;
    position: relative;
    background: rgb(182, 182, 182);
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 7px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}

.meter>span {
    display: block;
    height: 100%;
    border-radius: 25px;
    background-color: rgb(5, 73, 98);
    background-image: linear-gradient( center bottom, rgb(5, 73, 98) 37%, rgb(17, 124, 163) 69%);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3), inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}

/* Skills spans filled here*/

#html{
    width: 48%;
}
#css{
    width: 39%;
}
#js{
    width: 17%;
}
#bootstrap{
    width: 24%;
}
#seo{
    width: 13%;
}
#analytics{
    width: 55%;
}
#photoshop{
    width: 62%;
}
#git{
    width: 33%;
}
#office{
    width: 91%;
}
#greek{
    width: 100%;
}
#english{
    width: 87%;
}
#spanish{
    width: 24%;
}

#skillBars h4 {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 10px;
}
#languageBars h4 {
    padding: 0;
    margin-top: 5px;
    margin-bottom: 10px;
}

.myskills {
    margin-top: 20px;
    margin-bottom: 20px;
}
#awards {
    padding-bottom: 50px;
}
.myskills h4 {
    text-align: right!important;
}



/*---------
Certificates
---------*/

#certifications {
    background-color: #DBE0E3;
}

#certifications .certs {
    margin-bottom: 20px;
}

#certifications h2 {
    color: rgb(5, 73, 98);
}
#certifications h3 {
    padding: 0;
    margin-bottom: 0!important;
}

#certifications img{
    border-radius: 10px;
    height: 50px;
    width: 50px;
}



/*---------
Contact
---------*/

#contact {
    background: url("images/pexels-photo-209692.jpeg") rgb(5, 73, 98);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: soft-light;
    position: relative;
    color: white;
    padding-bottom: 100px;
}


#contact i {
    margin-right: 10px;
    font-size: 1.1rem;
}

.contactInfo {
    font-size: 1.1rem;
    margin: 10px 10px;
    padding:5px;
    color: white;
}
.contactInfo a {
    color: white;
    padding:10px;
}
.contactInfo a:hover{
    border: 1px solid tomato;
    border-radius: 15px;
    text-decoration: none;
    color: tomato;

}


.contact-hr {
    border: 0;
    height: 1px;
    background: rgb(5, 73, 98);
    background-image: linear-gradient(to right, rgb(81, 100, 107), #ccc, rgb(81, 100, 107));
}
#resume-link {
    margin-top: 50px;
}
#resume-link a {
    color: tomato;
}


/* Media Queries */

@media (max-width: 576px) {
    
    .institution {display: none;

    }
    
    .intro-paragraph {
        font-size: 0.9rem;
    }
    p {
        font-size: 1.1rem;
    }

    h2 {
        font-size: 1.95rem;
    }
    h3 {
        font-size: 1.35rem; ;
    }
    .myskills h4 {
        text-align: left!important;
    }
    h3.certificate {
        font-size: 1.2rem;
    }
    img.cert-icon {
        height: 35px!important;
        width: 35px!important;
    }

}
@media (max-width: 768px) {
    
    .myskills h4 {
        text-align: left!important;
    }

}



/* My custom ScrollBar */

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black; 
    border-radius: 2px;
    background-color: grey;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(8, 114, 153); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(11, 178, 238); 
  }
